
<%- include('include/start.ejs')%>
<%- include('include/nav1.ejs')%>

<section>
    <h1 id="blog-title" style="text-align:center;margin-top:5%">
        Your bookmarked blogs
    </h1>
    <% blog.forEach(blog=>{%>
        <%if ((bookmark[0].bookmark).includes(blog._id)){%>
            <a href="demoblog/<%= blog._id %>"><%= blog.title %></a>
        <%}})%>
    <div class="dashboard_home_card-container">

        <div class="dashboard_home_card">
            <img src="https://s3.amazonaws.com/bncore/wp-content/uploads/2016/12/Phineas-and-Ferb.jpg" />
            <div class="dashboard_home_content">
                <h3>What a cute animal!</h3>
                <p>Nanotechnology immersion along the information highway will close the loop on focusing solely
                    on the bottom line.</p>
                <p>Views:</p>
                <span>Likes:</span>
                
            </div>
        </div>

        <div class="dashboard_home_card">
            <img src="https://s3.amazonaws.com/bncore/wp-content/uploads/2016/12/Phineas-and-Ferb.jpg" />
            <div class="dashboard_home_content">
                <h3>Architecture is wonderful.</h3>
                <p>Override the digital divide with additional clickthroughs from DevOps.</p>
            </div>
        </div>

        <div class="dashboard_home_card">
            <img src="https://s3.amazonaws.com/bncore/wp-content/uploads/2016/12/Phineas-and-Ferb.jpg" />
            <div class="dashboard_home_content">
                <h3>Be one with mother nature.</h3>
                <p>Capitalize on low hanging fruit to identify a ballpark value added activity to beta test.</p>
            </div>
        </div>

        <div class="dashboard_home_card">
            <img src="https://s3.amazonaws.com/bncore/wp-content/uploads/2016/12/Phineas-and-Ferb.jpg" />
            <div class="dashboard_home_content">
                <h3>There's billions of people, let's be excellent to them.</h3>
                <p>Leverage agile frameworks to provide a robust synopsis for high level overviews.</p>
            </div>
        </div>

        <div class="dashboard_home_card">
            <img src="https://s3.amazonaws.com/bncore/wp-content/uploads/2016/12/Phineas-and-Ferb.jpg" />
            <div class="dashboard_home_content">
                <h3>Technology is life...</h3>
                <p>Organically grow the holistic world view of disruptive innovation via workplace diversity and
                    empowerment.</p>
            </div>
        </div>

        <div class="dashboard_home_card">
            <img src="https://s3.amazonaws.com/bncore/wp-content/uploads/2016/12/Phineas-and-Ferb.jpg" />
            <div class="dashboard_home_content">
                <h3>Do you feel lucky?</h3>
                <p>Iterative approaches to corporate strategy foster collaborative thinking to further the
                    overall value proposition.</p>
            </div>
        </div>

    </div>
</section>

<%- include('include/end.ejs')%>